$maxMobile: "(max-width:767px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

$float-right:right;
$float-left:left;

$text-right:right;
$text-left:left;

$mainColor:#00aeef;
$bColor:#333;
$cColor:#aaa;
$font-family:'Raleway', sans-serif;