<section class="clients center back-img">
	<div class="overlay">
		<div class="container">
			<ul class="client-slider">
				<li>
					<img src="img/client1.jpg" alt="client img" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate dolore accusantium nemo fugit. Similique ipsa pariatur autem, quas inventore aut, illo, hic ducimus placeat facilis porro earum explicabo error?</p>
					<h3>Jhon Douct</h3>
					<div>Manger OF ..company..</div>
				</li>
				<li>
					<img src="img/client2.jpg" alt="client img" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate dolore accusantium nemo fugit. Similique ipsa pariatur autem, quas inventore aut, illo, hic ducimus placeat facilis porro earum explicabo error?</p>
					<h3>Jhon Douct</h3>
					<div>Manger OF ..company..</div>
				</li>
				<li>
					<img src="img/client3.jpg" alt="client img" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate dolore accusantium nemo fugit. Similique ipsa pariatur autem, quas inventore aut, illo, hic ducimus placeat facilis porro earum explicabo error?</p>
					<h3>Jhon Douct</h3>
					<div>Manger OF ..company..</div>
				</li>
				<li>
					<img src="img/client4.jpg" alt="client img" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate dolore accusantium nemo fugit. Similique ipsa pariatur autem, quas inventore aut, illo, hic ducimus placeat facilis porro earum explicabo error?</p>
					<h3>Jhon Douct</h3>
					<div>Manger OF ..company..</div>
				</li>
				<li>
					<img src="img/client5.jpg" alt="client img" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate dolore accusantium nemo fugit. Similique ipsa pariatur autem, quas inventore aut, illo, hic ducimus placeat facilis porro earum explicabo error?</p>
					<h3>Jhon Douct</h3>
					<div>Manger OF ..company..</div>
				</li>
			</ul>
		</div>
	</div>
</section>