<footer>
	<div class="container">
		<div class="head-underline">
			<h2>Contact <span class="line">Us</span></h2>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente delectus, quae sint repellendus mollitia possimus iure totam, adipisci nobis nesciunt perspiciatis, dolorem, incidunt accusantium qui eius nam atque error quibusdam.</p>
		<a class="btn" href="../contact.php">Contact Us</a>
		<div class="end">
		<div class="rights">&copy; copyright all right reserved for us</div>
		<div class="author">Created with <span>ahmed eleaswy</span></div>
		<div class="social-sites">
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-youtube-square"></i>
			<i class="fa fa-twitter-square"></i>
			<i class="fa fa-instagram"></i>
			<i class="fa fa-linkedin-square"></i>
		</div>
		</div>
	</div>
</footer>