nav.navbar {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background: linear-gradient(to right, #7783c2 0%, #a57385 100%);
	opacity:0.9;
	z-index: 100;
	padding: 10px;
	div.logo {
		float:$float-left;
		h1 {
			font-weight:bold;
			text-transform:uppercase;
			color:#FFF;
		}
	}
	ul {
		float:$float-right;
		list-style: none;
    	padding: 0;
		position:relative;
		top:.3em;
		overflow: hidden;
		transition:all .3s ease-in-out;
		@media #{$minSmall} {
			width: auto;
			height: fit-content;
		}
		@media #{$maxMobile} {
			width: 100%;
			height:0;
		}
		li {
			float:$float-left;
			@media #{$maxMobile} {
				width: 100%;
				padding:10px 0;
			}
			@media #{$minSmall} {
				width:auto;
			}
			a {
				text-decoration:none;
				color:#fff;
				padding:5px 10px;
				transition:all .5s ease-in-out;
				@media #{$maxMobile} {
					padding:5px 0px;
				}
				@media #{$minSmall} {
					padding:5px 10px;
				}
				&:hover {
					color:#333;
				}
			}
			&:last-of-type {
				a {
					padding-right:0;
				}
			}
		}
	}
	.bars {
		position: absolute;
		right: 0;
		top: 0px;
		font-size: 30px;
		color: #FFF;
		display: none;
		@media #{$maxMobile} {
			display:none;
		}
		@media #{$maxMobile} {
			display:inline-block;
		}
	}
}
.active-nav {
	height: fit-content !important;
}