.post {
	.row {
		margin-top:50px;
		img {
			max-height: 600px;
			max-width: 1000px;
			margin-bottom:30px;
		}
		.date {
			color:#aaa;
			font-weight:bold;
			margin-bottom:30px;
		}
		h3 {
			color:#333;
			max-width: 600px;
		}
		p {
			font-weight:bold;
			color:#333;
			max-width: 1000px;
		}
		.member {
			margin-top:30px;
			img {
				height:100px;
				width:100px;
				float:$float-left;
				border-radius:50%;
			}
			h4 {
				margin:2.5em 20px;
				float:$float-left;
				cursor:pointer;
			}
		}
	}
}